.iconRotate:hover::after {
	src: url("../../static/fonts/Inter/Inter.ttf") format("truetype");
	content: "Nueva";
	position: absolute;
	width: max-content;
	padding: 0.5em 1em;
	bottom: 1.5em;
	transform: translateX(-50%);
	border-radius: 0.5em;
	background-color: #383f58;
	color: white;
	font-size: 0.8rem;
	opacity: 0.7;
}

.iconCopy:hover::after {
	src: url("../../static/fonts/Inter/Inter.ttf") format("truetype");
	content: "Copiar";
	position: absolute;
	width: max-content;
	padding: 0.5em 1em;
	bottom: 1.5em;
	transform: translateX(-50%);
	border-radius: 0.5em;
	background-color: #383f58;
	color: white;
	font-size: 0.8rem;
	opacity: 0.7;
}

.result {
	width: 100%;
	position: relative;
}

.container {
	/* position: relative; */
	width: 100%;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	padding: 1.5rem;
	/* box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: white; */
	gap: 2rem;
	transition:
		box-shadow 0.5s ease,
		background-color 0.5s ease;
	z-index: 0;
}

.showPassword {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	display: block;
	font-weight: bold;
	font-size: 1.3rem;
	color: #5d606b;
	padding: 1rem 0rem;
	/* background-color: #edeef3; */
	border-radius: 0.3rem;
}

.resultSecurityBar {
	position: absolute;
	width: 100%;
	/* left: 0;
   right: 0; */
	height: 0.5rem;
	border-radius: 0em 0em 0.5em 0.5em;
	overflow: hidden;
	background-color: white;
}

.resultSecurityBar div {
	width: 50%;
	height: 100%;
	background-color: #51d376;
}

.resultActions {
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
}

.actionReset,
.actionCopy {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem;
	outline: none;
	border: none;
	background-color: transparent;
}

.actionReset span,
.actionCopy span {
	font-size: 1rem;
	transition: color 0.5s ease;
}

.actionReset:hover,
.actionCopy:hover {
	background-color: #bfc6df79;
}

@media (max-width: 425px) {
	.resultActions {
		display: none;
	}
}

.resultSecurity {
	margin-top: 1em;
	color: #51d376;
	display: flex;
	gap: 1em;
	align-items: center;
}

.rotate span {
	animation: rotateIcon 0.5s;
}

@keyframes rotateIcon {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.zoom span {
	animation: zoomOutIcon 0.5s;
}

@keyframes zoomOutIcon {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
