/* .container {
   width: 100%;
   outline: 1px solid rgba(209, 209, 209, 0.4);
   border-radius: 0.5rem;
   box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   display: flex;
   flex-direction: column;

   transition: box-shadow .5s ease, background-color .5s ease, outline .5s ease, color .5s ease;
} */

.typesCharacters {
	padding: 1.5rem 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.longCharacters {
	width: 100%;
	border-top: 1px solid #e9e8e8;
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.longValue {
	width: 100%;
}

.longValue input {
	width: 90%;
}

.longCharacters {
	--track-height: 0.5rem;
	--thumb-size: 1.5rem;
}

.longCharacters label {
	width: 100%;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.longCharacters .longValue input[type="range"] {
	-webkit-appearance: none;
	cursor: pointer;
	border-radius: 1rem;
	background: linear-gradient(90deg, #07bd3a 100%, #d8d8d88f 100%);
	height: var(--track-height);
}

.longCharacters .longValue input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--thumb-size);
	height: var(--thumb-size);
	background-color: white;
	border-radius: 50%;
	box-shadow: 5px 5px 15px rgba(158, 158, 158, 0.555);
	border: 1px solid #dddddd;
	transition: outline 0.05s ease;
}

.longCharacters .longValue input[type="range"]::-webkit-slider-thumb:hover {
	outline: 10px solid rgba(81, 211, 118, 0.507);
}

@media (max-width: 425px) {
	.typesCharacters {
		width: 100%;
		flex-direction: column;
	}
}

/* .item {
   width: 50%;
   display: flex;
   align-items: center;
   gap: 0.5em;
   padding: 0.5em;
} */

/* .item:hover {
   cursor: pointer;
   background-color: rgba(236, 236, 236, 0.699);
   border-radius: 0.5em;
} */

.active:before {
	color: #07bd3a;
}

.itemLabel {
	cursor: pointer;
}

/* @media (max-width: 425px) {
   .item {
      width: 100%;
   }
} */
